<main class="contenedor contenedor-formularios no-padding">
    <h1><%- pageName %></h1>

    <form class="default-form" action="/change-password" method="POST">
        <div class="campo">
            <label>Current Password</label>
            <input type="password" name="currentPassword" placeholder="Current Password">
        </div>

        <div class="campo">
            <label>New Password</label>
            <input type="password" name="newPassword" placeholder="New Password">
        </div>
        
        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="Change">
        </div>
    </form>
</main>