<main class="contenedor contenedor-formularios">
    <h1><%= pageName %></h1>
    <form method="POST" class="default-form">
        <legend>A deleted group cannot be recovered. Are you sure to delete this Group?</legend>
        <div class="campo enviar">
            <input type="submit" value="Delete Group" class="btn btn-rosa">
        </div>
    </form>
</main>